<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div th:replace="base :: navlinks"></div>



    <form action="#" th:action="@{/process_employee}" th:object="${employee}" method="post">
        <input type="hidden" th:field="*{employeeID}">

        Name: <input type="text" th:field="*{employeeName}"><br />
        <span th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}"></span><br />

        Position: <input type="text" th:field="*{employeePosition}"><br />
        <span th:if="${#fields.hasErrors('employeePosition')}" th:errors="*{employeePosition}"></span><br />


        <select name="department" th:field="*{department}">
            <option th:each="department : ${departments}"
                    th:value="${department.departmentID}"
                    th:text="${department.departmentName}"></option>
        </select>
        <input type="submit" value="Submit">
    </form>

    <!--Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>